<div class="wrapper">
    <mat-card  class="driver-card" *ngFor="let driver of drivers">
        <mat-card-header class="header" (click)="openDialog(DetailDialogue)">
          <mat-card-title>Woyczek</mat-card-title>
        </mat-card-header>
        <img (click)="openDialog(DetailDialogue)" src="assets/img/1672319267903.jpg" alt="">
        <mat-card-content (click)="openDialog(DetailDialogue)">
            <h3>Shipping from:</h3> Germany, Poland, Denmark
            <h3>Shipping to:</h3> Kharkov, Dniepro, Kyiv, Lviv
            <h3>Is Shipping:</h3> Arms, Humanitarian, Food
            <h3>Vehicle:</h3> VW Sprinter
        </mat-card-content>
        <mat-card-actions class="buttons">
            <button (click)="openDialog(ContactDialogue)">
                <mat-icon>call</mat-icon>
            </button>
          <button>
            <mat-icon>stars</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
</div>
