<div class="searchbar">
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
    (click)="filterSelect = !filterSelect">
    <mat-icon *ngIf="!filterSelect">filter_alt</mat-icon>
    <mat-icon *ngIf="filterSelect">filter_alt_off</mat-icon>
  </button>


  <input type="text" placeholder="Search..." [(ngModel)]="this.displayService.searchQuery" (keyup)="this.displayService.search('driver')">
</div>


<div class="filters" *ngIf="filterSelect">
  <mat-form-field>
    <mat-label>Shipping from</mat-label>
    <mat-select multiple [(ngModel)]="this.displayService.selectedLocationFrom"
      (selectionChange)="this.displayService.applyFilters();">
      <mat-option *ngFor="let location of loginService.locationsEU" [value]="location">{{
        location
        }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Shipping to</mat-label>
    <mat-select multiple [(ngModel)]="this.displayService.selectedLocationTo" (selectionChange)="this.displayService.applyFilters();">
      <mat-option *ngFor="let location of loginService.locationsUA" [value]="location">{{
        location
        }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Shipping from</mat-label>
    <mat-select multiple [(ngModel)]="this.displayService.selectedVehicles" (selectionChange)="this.displayService.applyFilters();">
      <mat-option *ngFor="let vehicle of loginService.vehicles" [value]="vehicle">{{
        vehicle
        }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Shipping from</mat-label>
    <mat-select multiple [(ngModel)]="this.displayService.selectedGoods" (selectionChange)="this.displayService.applyFilters();">
      <mat-option *ngFor="let goods of loginService.goods" [value]="goods">{{
        goods
        }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-button-toggle-group appearance="legacy">
    <mat-button-toggle class="toggle-button"
      (click)="this.displayService.filterForFavorites();">Favorites</mat-button-toggle>
  </mat-button-toggle-group>

</div>



<div class="wrapper">
  <mat-card class="driver-card" *ngFor="let driver of this.displayService.drivers, let index = index">
    <mat-card-header class="header" (click)="this.displayService.openDialog(DetailDialogue, driver)">
      <mat-card-title>{{driver.profile.name}}</mat-card-title>
    </mat-card-header>
    <img (click)="this.displayService.openDialog(DetailDialogue, driver)" src="assets/img/1672319267903.jpg" alt="">
    <mat-card-content (click)="this.displayService.openDialog(DetailDialogue, driver)">
      <h3>Shipping from:</h3>
      <p *ngFor="let location of driver.profile.from">{{ location }}</p>
      <h3>Shipping to:</h3>
      <p *ngFor="let destination of driver.profile.to">{{ destination }}</p>
      <h3>Is Shipping:</h3>
      <p *ngFor="let goods of driver.profile.goods">{{ goods }}</p>
      <h3>Vehicle:</h3>
      <p *ngFor="let vehicle of driver.profile.vehicle">{{ vehicle }}</p>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button (click)="this.displayService.openDialog(ContactDialogue, driver)">
        <mat-icon>call</mat-icon>
      </button>
      <button (click)="this.displayService.toggleFavorite(driver.id)">
        <mat-icon *ngIf="!this.displayService.favorite(driver.id)">stars</mat-icon>
        <mat-icon *ngIf="this.displayService.favorite(driver.id)" style="color: gold;">stars</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>