section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20%;
}

.headline-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin: 0;
  }
}

.login-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 14px 3px #00000040;
  padding: 24px 48px;
  border-radius: 20px;
  max-width: 520px;
  min-width: 320px;
  width: 25%;
  gap: 28px;

  .mat-divider {
    height: 1px;
    width: 50%;
    background-color: rgb(63, 81, 181);
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  input {
    width: calc(100% - 20px);
    border-radius: 12px;
    padding: 10px;
    border: solid 1px grey;
  }

  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 14px 3px #00000040;
  padding: 24px 48px;
  border-radius: 20px;
  max-width: 620px;
  min-width: 320px;
  width: 45%;

  .signup-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;

    form {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 48px;
      span {
        color: rgb(161, 161, 161);
      }
    }
  }

  .choice-field {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 64px;

    .mat-divider {
      height: 1px;
      width: 100%;
      background-color: rgb(63, 81, 181);
    }

    .choice-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    button {
      height: 46px;
    }
  }

  .wrapper {
    display: flex;
    position: relative;
    gap: 12px;
    border: solid 1px grey;
    padding: 24px 8px 8px 8px;
    border-radius: 12px;
    box-shadow: 0 0 3px 2px lightgrey;

    h2 {
      position: absolute;
      top: -18px;
      left: 8px;
      z-index: 1;
      background-color: white;
    }

    div {
      align-items: center;
      width: 100%;
      display: flex;
      flex-wrap: wrap-reverse;
      gap: 12px;
    }
  }

  .headline {
    font-weight: 600;
    font-size: 48px;
  }
}
