<section>
    <div *ngIf="!loginService.signUp && !loginService.passwordRecovery" class="login-field">
        <div class="headline-wrapper">
            <h1>Welcome!</h1>
            <mat-divider class="mat-divider"></mat-divider>
        </div>

        <div class="input-wrapper">
            <input type="text" placeholder="E-Mail" [formControl]="loginService.loginEmailFormControl">
            <input type="password" placeholder="Password" [formControl]="loginService.loginPasswordFormControl">
            <mat-error class="login-error" *ngIf="loginService.loginError">
                Incorrect Password or Email
            </mat-error>
        </div>
        <div class="password-reset">Forgot your Password? Recover it <a
                (click)="loginService.passwordRecovery = true">here.</a></div>
        <div class="button-wrapper">
            <button mat-raised-button (click)="loginService.signUp = true">Create Account</button>
            <button mat-raised-button (click)="loginService.logIn()" color="primary">Login</button>
        </div>
    </div>
    <div *ngIf="loginService.passwordRecovery" class="login-field">
        <div class="headline-wrapper">
            <h1>Enter your email</h1>
            <mat-divider class="mat-divider"></mat-divider>
        </div>

        <!-- Here is the password recovery -->

        <div class="input-wrapper">
            <input class="login-error" type="text" placeholder="E-Mail" [formControl]="loginService.resetEmailFormControl">
            <mat-error *ngIf="loginService.resetError">
                Email not found
            </mat-error>
        </div>

        <div class="button-wrapper">
            <button mat-raised-button (click)="loginService.passwordRecovery = false">Go Back</button>
            <button mat-raised-button (click)="loginService.sendRecoveryMail()" color="primary">Recover</button>
        </div>
    </div>

    <div class="notification" *ngIf="loginService.resetSuccess">Your Recovery Email has been sent</div>

    <!-- Here is the sign up -->


    <div class="signUp" *ngIf="loginService.signUp">
        <div *ngIf="loginService.signUp && (loginService.driver || loginService.supplier)" class="signup-container">
            <h1 class="headline">Sign Up</h1>
            <form class="example-form">
                <div class="wrapper">
                    <h2>Personal Information</h2>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput [formControl]="loginService.nameFormControl">
                            <mat-error *ngIf="loginService.nameFormControl.hasError('required')">
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput [formControl]="loginService.emailFormControl"
                                [errorStateMatcher]="loginService.matcher" placeholder="Ex.pat@example.com">
                            <mat-error
                                *ngIf="loginService.emailFormControl.hasError('email') && !loginService.emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="loginService.emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Telephone</mat-label>
                            <input type="tel" matInput [formControl]="loginService.phoneFormControl">
                            <mat-error *ngIf="loginService.phoneFormControl.hasError('required')">
                                Phonenumber is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input type="text" matInput [formControl]="loginService.passwordFormControl">
                            <mat-error *ngIf="loginService.passwordFormControl.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="loginService.passwordFormControl.hasError('minlength')">
                                Password must be at least <strong>6 characters long</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div>
                    <div class="wrapper">
                        <h2>Business</h2>
                        <div>
                            <mat-form-field>
                                <mat-label>Shipping from</mat-label>
                                <mat-select [formControl]="loginService.locationsEUFormControl" multiple>
                                    <mat-option *ngFor="let location of loginService.locationsEU" [value]="location">{{
                                        location
                                        }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                    Locations are <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Shipping to</mat-label>
                                <mat-select [formControl]="loginService.locationsUAFormControl" multiple>
                                    <mat-option *ngFor="let location of loginService.locationsUA" [value]="location">{{
                                        location
                                        }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                    Locations are <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field *ngIf="loginService.driver">
                                <mat-label>Vehicle</mat-label>
                                <mat-select [formControl]="loginService.vehicleFormControl" multiple>
                                    <mat-option *ngFor="let vehicle of loginService.vehicles" [value]="vehicle">{{
                                        vehicle
                                        }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                    Vehicle is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Goods</mat-label>
                                <mat-select [formControl]="loginService.goodsFormControl" multiple>
                                    <mat-option *ngFor="let good of loginService.goods" [value]="good">{{ good
                                        }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                    Goods are <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                    <span>*required fields</span>
                </div>

            </form>
            <div class="button-wrapper">
                <button mat-raised-button
                    (click)="loginService.signUp = false; loginService.driver = false; loginService.supplier = false;">Login</button>
                <button mat-raised-button color="primary" (click)="loginService.createAuthentication()">Create
                    Account</button>
                    <mat-error class="signup-error" *ngIf="loginService.doubleMailError">
                        Email already in use
                    </mat-error>
                    <mat-error class="signup-error" *ngIf="loginService.emptyError">
                        Fill out all required forms!
                    </mat-error>
            </div>
        </div>

        <!-- Here is the initial choice between supplier or driver before sign up -->

        <div class="choice-field" *ngIf="loginService.signUp && !loginService.driver && !loginService.supplier">
            <div class="headline-wrapper">
                <h1>Are you looking to ship or provide supplies?</h1>
                <mat-divider class="mat-divider"></mat-divider>
            </div>
            <div class="choice-wrapper">
                <button mat-raised-button color="primary" (click)="loginService.driver = true">
                    <div>I do the shipping</div>
                    <mat-icon class="icon" fontIcon="local_shipping"></mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="loginService.supplier = true">
                    <div>I provide supplies</div>
                    <mat-icon class="icon">pallet</mat-icon>
                </button>
            </div>

        </div>

    </div>
</section>