<h2 mat-dialog-title>{{data.driver.profile.name}}<mat-icon>stars</mat-icon></h2>
<mat-dialog-content class="mat-typography scroll">
    <img src="assets/img/1672319267903.jpg"  alt="">
  <h3>Transports from</h3>
  <p *ngFor="let location of data.driver.profile.from">{{ location }}</p>

  <h3>Transports to</h3>
  <p *ngFor="let destination of data.driver.profile.to">{{ destination }}</p>

  <h3>Transports</h3>
  <p *ngFor="let goods of data.driver.profile.goods">{{ goods }}</p>

  <h3>Vehicle</h3>
  <p *ngFor="let vehicle of data.driver.profile.vehicle">{{ vehicle }}</p>

  <h3>Contact:</h3>
  <p >{{data.driver.profile.tel}}</p>
  <p>{{data.driver.profile.email}}</p>

  <h3>Reviews</h3>

  <div></div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>

