<h2 mat-dialog-title>
  {{data.user.profile.name}}
  <button (click)="this.DisplayService.toggleFavorite(data.user.id)">
    <mat-icon *ngIf="!this.DisplayService.favorite(data.user.id)">stars</mat-icon>
    <mat-icon *ngIf="this.DisplayService.favorite(data.user.id)" style="color: gold;">stars</mat-icon>
  </button>
</h2>
<mat-dialog-content class="mat-typography scroll">
  <img src="assets/img/1672319267903.jpg" alt="">
  <h3>Transports from</h3>
  <div class="paragraph-container scroll">
    <p *ngFor="let location of data.user.profile.from">{{ location }}</p>
  </div>


  <h3>Transports to</h3>
  <div class="paragraph-container scroll">
    <p *ngFor="let destination of data.user.profile.to">{{ destination }}</p>
  </div>


  <h3>Transports</h3>
  <div class="paragraph-container scroll">
    <p *ngFor="let goods of data.user.profile.goods">{{ goods }}</p>
  </div>


  <h3>Vehicle</h3>
  <div class="paragraph-container scroll">
    <p *ngFor="let vehicle of data.user.profile.vehicle">{{ vehicle }}</p>
  </div>

  <h3>Contact:</h3>
  <div class="contacts">
    <a href="mailto:{{data.user.profile.email}}">
      <mat-icon class="icon">mail</mat-icon>
      <p>{{data.user.profile.email}}</p>
    </a>
    <a href="tel:{{data.user.profile.tel}}">
      <mat-icon class="icon">call</mat-icon>
      <p>{{data.user.profile.tel}}</p>
    </a>
  </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>