<h2 mat-dialog-title>Woyczek <mat-icon>stars</mat-icon></h2>
<mat-dialog-content class="mat-typography scroll">
    <img src="assets/img/1672319267903.jpg"  alt="">
  <h3>Transports from</h3>
  <p>Germany, Poland, Hungary</p>

  <h3>Transports to</h3>
  <p>Kharkiv, Lviv, Kyiv, Kherson</p>

  <h3>Transports</h3>
  <p>Humanitarian Aid, Food</p>

  <h3>Vehicle</h3>
  <p>VW Sprinter (Minivan)</p>

  <h3>Contact:</h3>
  <p>0152233689</p>
  <p>jonasjonas.de</p>

  <h3>Reviews</h3>

  <div></div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>

