<div class="wrapper">
    <mat-card  class="supplier-card" *ngFor="let supplier of suppliers">
        <mat-card-header class="header" (click)="openDialog(DetailDialogue)">
          <mat-card-title>{{supplier.profile.name}}</mat-card-title>
        </mat-card-header>
        <img (click)="openDialog(DetailDialogue)" src="assets/img/1672319267903.jpg" alt="">
        <mat-card-content (click)="openDialog(DetailDialogue)">
          <h3>Needs Shipping from:</h3> <p *ngFor="let from of supplier.profile.from">{{ from }}</p>
          <h3>Needs Shipping to:</h3> <p *ngFor="let to of supplier.profile.to">{{ to }}</p>
          <h3>Shipping of:</h3> <p *ngFor="let good of supplier.profile.goods">{{ good }}</p>
        </mat-card-content>
        <mat-card-actions class="buttons">
            <button (click)="openDialog(ContactDialogue)">
                <mat-icon>call</mat-icon>
            </button>
          <button>
            <mat-icon>stars</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
</div>

