<div class="user-card">
    <mat-card class="warning" *ngIf="!(fireBaseService.authSubject | async)?.emailVerified && (fireBaseService.authSubject | async)?.emailVerified != undefined">
        <mat-card-content>
            <p>Your email is not verified. To have access to all functions you need to click the link in the
                verification email.</p>
            <div>
                Didn't get an email?
                <button mat-raised-button mat-dialog-close>Resend</button>
            </div>
        </mat-card-content>
    </mat-card>
    <!---->
    <mat-card class="personal">
        <img src="assets/img/flag.jpg" class="banner">
        <img [src]="(fireBaseService.currentUserSubject | async)?.img" class="profile-picture"
            [matMenuTriggerFor]="menu" matTooltip="Change profile picture">
        <mat-menu #menu="matMenu">

            <input type="file" id="file-input" (change)="this.uploadService.uploadFile(uploadInput)"
                style="display: none;" #uploadInput />
            <label for="file-input" class="upload-menu">
                Choose File
                <mat-icon>file_upload</mat-icon>
            </label>


        </mat-menu>
        <h2 class="name">{{(fireBaseService.currentUserSubject | async)?.profile.name}}</h2>
        <div class="contact-wrapper">
            <mat-card-content class="field">
                <h3>Tel:</h3>
                <p>{{(fireBaseService.currentUserSubject | async)?.profile.tel}}</p>
            </mat-card-content>
            <mat-card-content class="field">
                <h3>Email:</h3>
                <p>{{(fireBaseService.currentUserSubject | async)?.profile.email}}</p>
            </mat-card-content>
        </div>

    </mat-card>

    <mat-card class="transport">
        <mat-card-content class="field">
            <h3>Shipping from:</h3>
            <p>{{(fireBaseService.currentUserSubject | async)?.profile.from}}</p>
        </mat-card-content>
        <mat-card-content class="field">
            <h3>Shipping to:</h3>
            <p>{{(fireBaseService.currentUserSubject | async)?.profile.to}}</p>
        </mat-card-content>
        <mat-card-content class="field">
            <h3>Is Shipping:</h3>
            <p>{{(fireBaseService.currentUserSubject | async)?.profile.goods}}</p>
        </mat-card-content>
        <mat-card-content class="field" *ngIf="(fireBaseService.currentUserSubject | async)?.driver">
            <h3>Vehicle:</h3>
            <p>{{(fireBaseService.currentUserSubject | async)?.profile.vehicle}}</p>
        </mat-card-content>

    </mat-card>

    <div class="bottom">
        <mat-icon (click)="this.fireBaseService.deleteUser()" class="delete">delete_forever</mat-icon>
        <div class="button-wrapper">
            <button (click)="openDialog()" mat-fab extended color="primary">
                <mat-icon>edit</mat-icon>
                Edit
            </button>
        </div>
    </div>
</div>