.user-card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;
}

.warning {
  background-color: rgba(248, 54, 54, 0.103);
  width: 100%;
  margin-bottom: 32px;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  margin-right: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}

.personal {
  position: relative;
  margin-bottom: 24px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  min-width: 280px;
  width: 100%;

  .banner {
    width: 100%;
    height: 240px;
    border-radius: 10px 10px 0px 0px;
  }

  .profile-picture {
    position: absolute;
    top: 120px;
    right: 24px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid white 4px;
  }

  .contact-wrapper {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    padding: 0 32px 88px 32px
  }

  .name {
    font-weight: 400;
    font-size: 64px;
    line-height: 0.9;
    margin-top: 60px;
    padding-left: 48px
  }
}

.upload-menu {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #333;
  padding: 6px 12px;

  color: #3f51b5;

  &:hover {
    background-color: lightgrey;
  }
}

.transport {
  padding: 32px 32px 88px 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  min-width: 280px;
  width: 100%;
  border-radius: 10px;
}

.field {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  width: 97%;

  .paragraph-container {
    width: 100%;
    max-height: 240px;
    overflow-y: auto;
  }

  p {
    font-size: 20px;
  }

  h3 {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
  }
}
.reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 280px;

  div {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
  }

  .review-card {
    height: 100%;
    width: 100%;
    min-width: 260px;
  }
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.bottom {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.delete {
  cursor: pointer;
  color: red;
  font-size: 24px;

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 750px) {
    .name {
      font-size: 40px !important;
    }
  
}

@media (max-width: 550px) {
  .profile-picture {
    right: 23.5% !important;

    .name {
      font-weight: 400;
      font-size: 64px;
      line-height: 0.9;
      margin-top: 60px;
      padding-left: 16px
    }
  }
}

@media (max-width: 440px) {
  .profile-picture {
    right: 18.5% !important;
  }
}
