<Div class="dashboard">
    <div class="wrapper">
        <div class="block" routerLink="/home/driver">
            <mat-icon class="icon" fontIcon="local_shipping"></mat-icon>
            <div>
                <h2>{{drivers.length}}</h2>
                <span>Drivers</span>
            </div>

        </div>
        <div class="block" routerLink="/home/supplier">
            <mat-icon class="icon" fontIcon="emoji_people"></mat-icon>
            <div>
                <h2>{{suppliers.length}}</h2>
                <span>Suppliers </span>
            </div>

        </div>
        <div class="block" (click)="goToFavourites()">
            <mat-icon class="icon" fontIcon="grade"></mat-icon>
            <div>
                <h2>{{displayFavorites()}}</h2>
            </div>

        </div>
    </div>
    <div class="greetings-wrapper">
        <h1 #greeting class="greeting">{{adjustGreeting()}} {{(FirebaseService.currentUserSubject | async)?.profile.name}}</h1>
    </div>

</Div>