<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content class="mat-typography content scroll">
    <div class="signUp">
        <div class="signup-container">
            <form>
                <div class="wrapper">
                    <h2>Personal Information</h2>
                    <div class="container">
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput [formControl]="loginService.nameFormControl">
                            <mat-error *ngIf="loginService.nameFormControl.hasError('required')">
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput [formControl]="loginService.emailFormControl"
                                [errorStateMatcher]="loginService.matcher" placeholder="Ex. pat@example.com">
                            <mat-error
                                *ngIf="loginService.emailFormControl.hasError('email') && !loginService.emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="loginService.emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Telephone</mat-label>
                            <input type="tel" matInput [formControl]="loginService.phoneFormControl">
                            <mat-error *ngIf="loginService.phoneFormControl.hasError('required')">
                                Phonenumber is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>

                <div class="wrapper">
                    <h2>Business</h2>
                    <div class="container">
                        <mat-form-field>
                            <mat-label>Shipping from</mat-label>
                            <mat-select [formControl]="loginService.locationsEUFormControl" multiple>
                                <mat-option *ngFor="let location of loginService.locationsEU" [value]="location">{{
                                    location
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                Locations are <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Shipping to</mat-label>
                            <mat-select [formControl]="loginService.locationsUAFormControl" multiple>
                                <mat-option *ngFor="let location of loginService.locationsUA" [value]="location">{{
                                    location
                                    }} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                Locations are <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="(firebaseService.currentUserSubject | async).driver">
                            <mat-label>Vehicle</mat-label>
                            <mat-select [formControl]="loginService.vehicleFormControl" multiple>
                                <mat-option *ngFor="let vehicle of loginService.vehicles" [value]="vehicle">{{
                                    vehicle
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                Vehicle is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Goods</mat-label>
                            <mat-select [formControl]="loginService.goodsFormControl" multiple>
                                <mat-option *ngFor="let good of loginService.goods" [value]="good">{{ good
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                Goods are <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <span>*required fields</span>

            </form>

            <div class="wrapper">
                <h2>Change Account</h2>
                <div class="bottom-container">
                    <mat-form-field>
                        <mat-label>Change Status</mat-label>
                        <mat-select [(ngModel)]="driverStatus" #driver>
                            <mat-option [value]="true">Driver</mat-option>
                            <mat-option [value]="false">Supplier</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="notification" *ngIf="loginService.changePasswordSuccess">Your password has been changed
                    </div>
                    <div class="notification" style="color: red" *ngIf="loginService.passwordError">Password change not
                        possible</div>

                    <button *ngIf="!loginService.changePassword" mat-raised-button
                        (click)="loginService.changePassword = true">change password</button>
                    <mat-form-field *ngIf="loginService.changePassword" class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="text" matInput [formControl]="loginService.passwordFormControl">
                        <mat-error *ngIf="">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="">
                            Password must be at least <strong>6 characters long</strong>
                        </mat-error>
                    </mat-form-field>
                    <button *ngIf="loginService.changePassword" mat-raised-button
                        [disabled]="loginService.passwordFormControl.invalid" (click)="loginService.updatePassword()">
                        Set new password
                    </button>
                </div>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close (click)="loginService.changePassword = false">Cancel</button>
    <button mat-raised-button color="primary" (click)="editProfile()">Save Edit</button>
</mat-dialog-actions>