<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
    <div class="signUp">
        <div class="signup-container">
            <h1 class="headline">Sign Up</h1>
            <form class="example-form">
                <div class="wrapper">
                    <h2>Personal Information</h2>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput [formControl]="loginService.nameFormControl" [(ngModel)]="name">
                            <mat-error *ngIf="loginService.nameFormControl.hasError('required')">
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput [formControl]="loginService.emailFormControl" [errorStateMatcher]="loginService.matcher"
                                placeholder="Ex. pat@example.com" [(ngModel)]="email">
                            <mat-error
                                *ngIf="loginService.emailFormControl.hasError('email') && !loginService.emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="loginService.emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Telephone</mat-label>
                            <input type="tel" matInput [formControl]="loginService.phoneFormControl" [(ngModel)]="phone">
                            <mat-error *ngIf="loginService.phoneFormControl.hasError('required')">
                                Phonenumber is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div>
                    <div class="wrapper">
                        <h2>Business</h2>
                        <div>
                            <mat-form-field>
                                <mat-label>Shipping from</mat-label>
                                <mat-select [formControl]="loginService.locationsEUFormControl" multiple [(ngModel)]="locationsEU">
                                    <mat-option *ngFor="let location of loginService.locationsEU" [value]="location">{{ location
                                        }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                    Locations are <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Shipping to</mat-label>
                                <mat-select [formControl]="loginService.locationsUAFormControl" multiple [(ngModel)]="locationsUA">
                                    <mat-option *ngFor="let location of loginService.locationsUA" [value]="location">{{ location
                                        }} </mat-option>
                                </mat-select>
                                <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                    Locations are <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field *ngIf="(firebaseService.currentUserSubject | async).driver">
                                <mat-label>Vehicle</mat-label>
                                <mat-select [formControl]="loginService.vehicleFormControl" multiple [(ngModel)]="vehicle">
                                    <mat-option *ngFor="let vehicle of loginService.vehicles" [value]="vehicle">{{ vehicle
                                        }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                    Vehicle is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Goods</mat-label>
                                <mat-select [formControl]="loginService.goodsFormControl" multiple [(ngModel)]="goods">
                                    <mat-option *ngFor="let good of loginService.goods" [value]="good">{{ good }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="loginService.locationsEUFormControl.hasError('required')">
                                    Goods are <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                    <span>*required fields</span>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary">Save Edit</button>
</mat-dialog-actions>